<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>My Online Thrift Store</title>

    <link rel = "stylesheet" type="text/css" href="static/css/style.css"> 

</head>

<body>
    <h1> Welcome to our thrift store ! </h1>
    <p id = desc_1> Our store specializes in selling second hand items, through the internet! </p>

    <p class= desc_2> Take a look at our site to find interesting furniture, clothing and accessories while saving our planet !! </p>

   
    <a href="/"> 

    <div id = home> <span class= "bolded"> <style= width: 600px; float: left;> HOME </div> 

    </a> 


    <a href="/cart">

    <div id = home> <span class="bolded"> CART </span> </div>

    </a>  

 <a href='/sweatshirt'>

    <img  src = "https://cdn.fs.grailed.com/api/file/0fRPDhebTvW5p7PHtFVh"> <!--sweatshirt-->

    </a>

<a href='/table'>

    <img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iZNhF4fTTjcE/v3/-1x-1.png"> <!--table-->

    </a>

<a href='/bags'>

    <img src="https://cdn02.pinkoi.com/product/UA8prR37/0/1/640x530.jpg"> <!--bags-->

    </a>

<a href = '/totebag'>

    <img src="https://i.etsystatic.com/9706685/r/il/dee256/2774105332/il_570xN.2774105332_axv8.jpg"> <!--totebag-->

    </a>


</body>
</html>