<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>My Online Thrift Store</title>

    <link rel = "stylesheet" type="text/css" href="static/css/style.css"> 

</head>

<body>
    <h1> Welcome to our thrift store ! </h1>
    <p id = desc_1> Our store specializes in selling second hand items, through the internet! </p>

    <p id= desc_2> Take a look at our site to find interesting furniture, clothing and accessories while saving our planet !! </p>

    <div> <span class="bolded"> HOME </span> </div>

</body>
</html>