<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>

</head>
<body>

    <h1> It seems you're interested in purchasing this product...</h1>


    <!--<h1> TEST - while working on this and running the code, I had an error (something abt the requsted URL not being on the server0 I built this page anyway, because I wanted to get it done, so I'll finish here and continue the last part of the lab tomorrow!! + SHow the instructors/TAs the problem, so they can help you fix it !! </h1>-->
</body>
</html>