<!DOCTYPE html> 
<html>
<head>
	<link rel = "stylesheet" type="text/css" href="static/css/style.css"> 
 
	<body>
		<h1 class= centertext> TABLE AND CHAIRS </h1>

		<div style="text-align: center;">

		<img src = "https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iZNhF4fTTjcE/v3/-1x-1.png" > 



		<p class = desc_3> This lovely vintage set of table and chairs is being sold for 26$ </p>

		<a href= "{{'/'}}" > HOMEPAGE </a>

		<a>     ----   </a>

		<a href = "{{'/cart'}}"> ADD TO CART </a>


	</div>

	</body>
	</head>

</html>