<!DOCTYPE html> 
<html>
<head>
	<link rel = "stylesheet" type="text/css" href="static/css/style.css"> 

	<body>
		<h1 class= centertext> THE TOTEBAG</h1>

		<div style="text-align: center;">

		<img src = "https://i.etsystatic.com/9706685/r/il/dee256/2774105332/il_570xN.2774105332_axv8.jpg"> 



		<p class = desc_3> This lovely tote bag is being sold for 3$ </p>

		<a href= "{{'/'}}" > HOMEPAGE </a>

		<a>     ----   </a>

		<a href = "{{'/cart'}}"> ADD TO CART </a>

	</div>

	</body>
	</head>

</html>