h1 {
	color: rosybrown;
	text-align: center;
}

#desc_1{
	text-align: center;
	color: darkgray;
}

.desc_2{
	text-align: center;
	color: gray;
}

#home{
	color: rosybrown;
	text-align: center;
	line-height: 5.5;
}

.bolded{ font-weight: bold; }

img{
	width: 400px;
	height: 400px;
}

#buy{
	color: rosybrown;
	line-height: 5.5;
}

.centertext{
	color: rosybrown;
	text-align: center;
	line-height: 5.5;

}

.desc_3{
	text-align: center;
}

